/*
    PAGE SETUP  

    bordr-color: rgba(226, 226, 226, 0.74);
*/

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    background-color: aliceblue;
    background-image: linear-gradient(to left, rgba(166, 173, 61, 0.74), rgba(120, 162, 218, 0.74));
    font-size: 22px;
}

/*
    Header and body design.  
*/
header {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
}

/*
    Play board setup  
*/
.playground {
    position: relative;
    width: 60%;
    height: 75vh;
    margin-left: 20%;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(226, 226, 226, 0.74);
    color: rgba(238, 11, 11, 0.883);
}

/*
    Divide the playBoard  
*/
.col {
    float: left;
}


.span-1-of-2 {
    width: 50%;
    background-color: rgba(249, 252, 255, 0.74);
    display: inline-block;
    height: 100%;
    box-shadow: 2px 0px 2px rgba(226, 226, 226, 0.74);
}
.first-col {
    background-color: rgba(165, 173, 61, 0.356);
}
.second-col {
    background-color: rgba(120, 162, 218, 0.356)
}


/*
    ScoreBoard.  
*/
.player-1, 
.player-2,
.scoreBoard {
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
}


.scoreBoard {
    font-size: 150%;
    color: black;
}

.temp-score {
    margin-top: 60%;
    text-align: center;
}

/*
    die-rolling area and
    js-components.  
*/
.die-display {
    position: absolute;
    top: 40%;
    left: 45%;
}
.display-box {
    width: 100px;
    height: 100px;
    height: 30%;
    background-color: rgba(248, 248, 248, 0.74);
} 
.die-display h1 {
    text-align: center;
    color: #000;
}

.js-components {
    position: absolute;
    top: 70%;
    left: 45%;
}

/*
    Button desing
*/

button, 
button:active {
    background-color: rgba(248, 248, 248, 0.74);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
/*
    Match result
*/

.js-player1-winner, 
.js-player2-winner {
    text-align: center;
}
